// Place all the styles related to the quotes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	background: url('bg.gif') no-repeat left center fixed; 



}

h1 {
	text-align: center;
	font-family: Helvetica Neue Light, Helvetica Neue, Helvetica, san-serif;
	font-size: 40px;

}

blockquote{
	text-align: center;
	font-family: Helvetica Neue Light, Helvetica Neue, Helvetica, san-serif;
	font-size: 20px;

}

.next{
	text-align: right;
	font-size: 15px;
	text-decoration: none;
	color: red;



}

.small-caps {
	font-variant:small-caps;
}